* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

body {
  overflow: auto;
  height: 80vh;
  background-color: #000bff;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 30px auto 0;
  margin-bottom: 65px;
  padding: 10px;
}

.form-container {
  background: rgb(249, 249, 252);
  padding: 30px;
  padding-bottom: 5px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.title {
  background-color: rgb(234, 239, 241);
  margin: -30px;
  text-align: center;
  padding: 50px;
  border-bottom: 0.1px solid lightgrey;
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 300 !important;
  border-radius: 5px 5px 0px 0px;
}

.form-item {
  margin-bottom: 25px;
}

.form-item input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  font-size: 25px;
  font-weight: lighter;
  border: 1px solid #dadce0;
  border-radius: 5px;
  outline: none;
}

.form-item input[type="text"]:focus {
  outline: 3px solid rgb(147, 191, 235);
}

.forget input[type="checkbox"] {
  width: 19px;
  height: 19px;
  border-color: 1px solid #dadce0;
  margin-right: 5px;
}
#forget {
  border-radius: 50px;
}

.forget label {
  font-size: 22px;
  font-weight: 300 !important;
}

.sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.change a {
  text-decoration: none;
  color: #1598d4;
}
.change a:hover {
  color: blueviolet;
  text-decoration: underline;
}

.btn input[type="submit"] {
  margin-top: 50px;
  background-color: #1598d4;
  border: 1px solid #1598d4;
  padding: 10px;
  width: auto;
  font-size: 20px;
  font-weight: 300 !important;
  letter-spacing: 1px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 35px;
  cursor: pointer;
}

.btn input[type="submit"]:hover {
  background-color: #000bff;
}

.login {
  width: 107.4%;
  margin-top: 8px;
  border-top: 0.1px solid lightgrey;
  padding: 15px;
  margin-left: -30px;
  background-color: rgb(234, 239, 241);
}

.login > a {
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.login > a:hover {
  text-decoration: underline;
  color: blueviolet;
}

.registerCopyContent {
  position: fixed;
  width: 100%;
  background-color: #f8f9fa;
  margin-top: -9px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registerCopy {
  color: lightslategrey;
}

.registerPolicy {
  color: #007bff;
  cursor: pointer;
}

.registerPolicy:hover {
  text-decoration: underline;
  color: #000bff;
}

.registerTerm {
  text-decoration: none;
}

@media (min-width: 500px) and (max-width: 920px) {
  .form-item input[type="text"] {
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
  }

  .registerCopyContent {
    display: none;
  }

  .forget label {
    font-size: 15px;
    font-weight: 300 !important;
  }

  .forget input[type="checkbox"] {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 499px) {
  .form-item input[type="text"] {
    padding: 8px;
    font-size: 10px;
    font-weight: 100;
  }

  .forget label {
    font-size: 12px;
    font-weight: 300 !important;
  }

  .registerCopyContent {
    display: none;
  }

  .forget input[type="checkbox"] {
    width: 12px;
    height: 12px;
  }
}
